
.title{
    height:60px;
    background-color: var(--gray);
    color: azure;
    /* border:1px solid rgb(8, 251, 0); */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.title p{
    all:unset;
    letter-spacing: 3px;
    font-size: 14px;
    /* border:1px solid red; */
}